body,
html {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.ck-editor__editable_inline {
    min-height: 400px;
}
.ck-editor__editable {
    max-height: 400px;
}

.MuiBox-root css-dc7zdy {
  height: 600px
}